<% if question.nil? %>

  <p>otot</p>
<% else %>
  <div class="container">
    <h3 class="question-style"><%= question.content%></h3>
    <%= form_with model: UserAnswer.new, html: { data: { question_id: question.id, quizz_target: "form",  action: "submit->quizz#answer" }} do |f| %>
      <%= f.hidden_field :questions, data: { quizz_target: "hidden"} %>
      <% question.answers.each do |answer| %>
        <div class="radio-button">
          <%=answer.content %>
          <%= f.radio_button :answer_id, answer.id, data: {quizz_target: "input"}%>
        </div>
      <% end %>
      <%= f.submit "Valider" %>
    <% end %>
  </div>

  <div>
  <p data-quizz-target="togglable" class=""></p>

  </div>

<% end %>
