
<div class="profil-card">
  <div class="performance">
    <h2 class="name"><%= @user.first_name %></h2>
    <h4>Mon score</h4>
      <p class="number"><%= current_user.score %></p>
    <h4>Bibliothèque</h4>
      <p class="number"><%= @user.user_monuments.count %></p>
    <h4>Followers</h4>
      <p class="number">0</p>
  </div>
  <img class="avatar-large" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2021/05/06/3127156-64098848-2560-1440.jpg" alt="">
</div>
<div class="container">
  <div class="classement">
    <div class="card-back">
      <h4 class="number-e">+1000</h4>
      <p class="title-trophy">Classement</p>
    </div>
    <div class="card-back">
      <h4 class="number-e"><%= @user.user_monuments.count %></h4>
      <p class="title-trophy">Flash</p>
    </div>
    <div class="card-back">
      <h4 class="number-e"><%= (@monuments.count - @user.user_monuments.count) %></h4>
      <p class="title-trophy">Manquants </p>
    </div>
  </div>
</div>

<div class="container"
  data-controller="swiper"
  data-swiper-target="touch"
  data-action="touchstart->swiper#handleStart touchend->swiper#handleEnd"
>
  <div class="swipable-element" >
    <div class="unlocked-monuments" data-swiper-target="unlockedMonuments">
      <h2 class="grid-title">Monuments débloqués</h2>
      <div class="monuments-grid">
        <div class="monument-card">
          <% @user.user_monuments.each do |monument| %>
          <img class="monument-card-picture" src="https://lh3.googleusercontent.com/p/AF1QipN6QOJA5SQjpUxMowHPGhhoZb4FTHR8BoBL27R2=s680-w680-h510" alt="">
          <p><%= link_to "+", monument_path(monument.monument_id)%></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="my-monuments d-none" data-swiper-target="myMonuments">
      <h2 class="grid-title">Mes photos</h2>
      <div class="monuments-grid">
        <div class="monument-card">
          <% @user.user_monuments.each do |monument| %>
            <%= cl_image_tag monument.photos.first.key, class: "my-photo-card-picture" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="classement-all-user d-none" data-swiper-target="classement">
      <h2 class="grid-title">Classement</h2>
      <div class="user-cards-all">
        <% 8.times.each_with_index do |index| %>
          <div class="users-card">
            <div class="rank"><%= index + 1 %></div>
            <img class="avatar-rounded" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2021/05/06/3127156-64098848-2560-1440.jpg" alt="">
            <div class="users-card-infos">
              <div class="users-name-pourcent">
                <p class="name">Pierre</p>
                <p><%= 100 - (index + 4) %>%</p>
              </div>
              <div class="users-progression"><%# il faudra implementer si l'on peut une méthode qui permette d'avoir la progression de tous les autres users %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
