<div class="linear-background-profile">
  <img class="avatar-rounded-profile" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2021/05/06/3127156-64098848-2560-1440.jpg" alt="">
</div>
<div class="container-user-infos">
      <h4><%= current_user.first_name %></h4>
  <div class="user-infos">
    <div class="user-info-profile">
      <h4><%= current_user.score %></h4>
      <p>Points</p>
    </div>
    <div class="user-info-profile">
      <h4><%= @user.user_monuments.count %></h4>
      <p>Monuments débloqués</p>
    </div>
    <div class="user-info-profile">
      <h4>0</h4>
      <p>Followers</p>
    </div>
  </div>
</div>


<div class="container">
    <div class="user-info">
        <div class="user-details">
            <p>Email:<%= current_user.email %></p>
        </div>
    </div>
          <div class="user-actions">
            <%= link_to edit_user_registration_path do %>
              <p>Changer le mot de passe</p>
            <% end %>
        </div>
        <div class="user-actions">
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        </div>

    </div>
</div>
